$main_color: #24baa0;
.hidden {
    display: none;
}

* {
    margin: 0;
    padding: 0;
}

html {
    background-color: darkgray;
}

body {
    width: 1200px;
    background-color: white;
    margin: 0 auto;
    border: 1px solid black;
    font-family: 'Raleway', sans-serif;
}

.container {
    width: 1100px;
    margin: 0 auto;
    padding: 10px 5px;
}

nav {
    height: 40px;
    width: auto;
    background-color: black;
    text-transform: uppercase;
    font-weight: 700;
    .logo {
        color: white;
        font-size: .865em;
        display: inline-block;
        padding-left: 20px;
        letter-spacing: .6px;
        width: 600px;
    }

    span {
        color: $main_color;
    }

    .menu {
        position: relative;
        float: right;
        width: 400px;
        ul {
            list-style: none;
            float: right;
        }

        li {
            display: inline-block;

        }
        a {
            color: white;
            text-decoration: none;
            padding: 0 25px 0 15px;
            font-size: 0.86em;
            letter-spacing: 1px;
            &:hover {
                color: $main_color;
            }
        }

        .subMenu {
            width: 100px;
            height: 80px;
            z-index: 2;
            color: white;
            background-color: black;
            position: absolute;
            top: 40px;
            right: 210px;
            padding: 10px;

            ul {
                list-style: none;
                text-transform: none;
                font-weight: 400;
                font-size: 17px;

            }

            li {
                line-height: 25px;
            }
            a {
                padding: 0;
            }

            &:before {
                content: '';
                width: 10px;
                height: 10px;
                background-color: black;
                transform: rotate(-45deg);
                position: absolute;
                top: -5px;
                left: 46px;
            }
        }
    }

}

#header {
    height: 500px;
    background: -moz-linear-gradient(top, rgba(147, 147, 147, 0) 0%, rgba(147, 147, 147, 0) 36%, rgba(147, 147, 147, 0.65) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(147, 147, 147, 0) 0%, rgba(147, 147, 147, 0) 36%, rgba(147, 147, 147, 0.65) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(147, 147, 147, 0) 0%, rgba(147, 147, 147, 0) 36%, rgba(147, 147, 147, 0.65) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}


#header .container {
    position: relative;

}

%arrow {
    font-size: 70px;
    color: $main_color;
    position: absolute;
    top: 200px;
    padding: 15px 23px;
    cursor: pointer;
    z-index: 1;

    &:hover {
        color: darken($main_color, 4);
    }
}

#arrowLeft {
    @extend %arrow;
    left: 2px;
}

#arrowRight {
    @extend %arrow;
    right: 10px;
}

.headerContent {
    width: 900px;
    margin: 0 auto;
    margin-top: 100px;

    img {
        transform: scale(1.25) translateX(-50px);
        display: inline-block;
        position: absolute;
    }

    .headerText {
        float: left;
        width: 550px;
        position: absolute;
        right: 100px;
        text-align: center;
        h1 {
            text-transform: uppercase;
            padding-top: 22px;
            margin-left: -20px;
            font-size: 2.4em;
            font-weight: 500;
            letter-spacing: 1px;

        }

        span {
            color: $main_color;
            font-weight: 700;
        }

        p {
            padding: 30px 50px;
            transform: translateX(-10px);
            font-size: .95em;
            line-height: 1.4em;
            color: #333333;
        }


        .button {
            background-color: $main_color;
            margin: 0 auto;
            width: 250px;
            height: 40px;
            border: none;
            padding: 5px;
            border-radius: 10px;
            text-transform: uppercase;
            text-align: center;
            transform: translateX(-8px) translateY(4px);

            a {
                display: block;
                width: 250px;
                text-decoration: none;
                color: white;
                font-size: 23px;
                font-weight: 500;
                letter-spacing: 1px;
                line-height: 40px;
            }

            &:hover {
                background-color: darken($main_color, 4);
            }
        }

        &::after {
            clear: both;
        }
    }
}


#chairs {
    padding-left: 10px;
    padding-top: 30px;
    height: 310px;
}



.thumbnail {
    width: 333px;
    height: 230px;
    position: relative;
    float: left;

}



.thumb1 {
    background: transparent url('../images/box1_img.jpg') no-repeat center/cover;
    margin-right: 27px;
}

.thumb2 {
    background: transparent url('../images/box2_img.jpg') no-repeat center/cover;
    margin-right: 27px;
}

.caption {
    position: absolute;
    bottom: 15px;
    width: 100%;
    height: 60px;
    background-color: rgba(230, 230, 230, .6);

}


.caption p {
    padding-top: 10px;
    margin-left: 15px;
    width: 45%;
    border-bottom: 7px solid $main_color;
    font-weight: 500;
}

.thumb3 {
    border: 1px solid lightgray;
    height: 250px;

}

.thumb3 h1 {
    width: 45%;
    border-bottom: 7px solid $main_color;
    font-size: 16px;
    display: inline-block;
    padding-top: 25px;
    margin-left: 25px;

}

.thumb3 p {
    padding: 10px 10px 10px 20px;
    font-size: .9em;
    line-height: 20px;
    color: #888;
}


.box {
    width: 320px;
    height: 220px;
    border: 1px solid lightgray;
    margin: 15px;
    display: inline-block;
}




#pricing {
    height: 730px;
    background-color: #f2f2f2;

    h1 {
        text-transform: uppercase;
        width: 320px;
        color: #575757;
        border-bottom: 7px solid $main_color;
        font-weight: 400;
        font-size: 18px;
        font-weight: 600;
        padding-top: 40px;
        padding-bottom: 3px;

    }
}


.marginRight24 {
    margin-right: 24px;
}






.box {
    width: 322px;
    height: 500px;
    border: 2px solid lightgray;
    margin-top: 78px;
    border-radius: 2px;
    position: relative;
    background-color: white;
    float: left;



    h2 {
        text-transform: uppercase;
        text-align: center;
        padding-top: 23px;
        font-weight: 400;
        color: $main_color;
    }

    .price {
        width: 130px;
        height: 125px;
        border-radius: 50%;
        margin: 30px auto;
        border: 2px solid lightgray;
        position: relative;


    }

    &:before {
        content: "";
        position: absolute;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 2px solid lightgray;
        left: 135px;
        top: -40px;
        background-color: white;
    }

    &:after {
        content: "";
        position: absolute;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        left: 150px;
        top: -26px;
        background-color: lightgray;
    }


}


.amount {
    color: lightgray;
    font-size: 43px;
    position: relative;
    top: 25px;
    left: 35px;
    font-weight: 700;

}

.up {
    font-size: 15px;
    position: absolute;
    top: 0;
}

span.amount[data-id="3"] {
    left: 17px;
}

.pln_msc {
    position: absolute;
    bottom: 28px;
    left: 28px;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 600;
    color: lightgray;
}

.details {
    ul {
        list-style: none;
    }

    li {
        text-align: center;
        width: auto;
        padding: 7px;
        font-size: 1.5em;
        color: #888;
    }

    li:nth-of-type(2n + 1) {
        background-color: lightgray;
    }

    li:nth-of-type(2n + 2) {
        background-color: #f2f2f2;
    }
}


.btn {
    position: absolute;
    width: 120px;

    height: 25px;
    bottom: 30px;
    left: 105px;
    text-align: center;



    a {
        display: block;
        border-radius: 5px;
        padding: 5px;
        line-height: 25px;
        text-decoration: none;
        background-color: $main_color;
        color: #fff;
        font-weight: 500;
        text-transform: uppercase;
        text-align: center;

        &:hover {
            background-color: darken($main_color, 4);
        }
    }
}


.boxActive {
    background-color: $main_color;
    border-color: $main_color;

    &:before {
        background-color: $main_color;
        border-color: $main_color;
    }
    &:after {
        background-color: #fff;

    }

    .price {
        background-color: #fff;
        border: none;
    }

    h2 {
        color: #fff;
    }

    .amount {
        color: $main_color;
    }

    .pln_msc {
        color: $main_color;
    }

    li:nth-of-type(2n + 1) {
        background-color: #fff;
    }

    .btn a {
        background-color: #fff;
        color: $main_color;

        &:hover {
            background-color: darken(#fff, 4);
        }
    }
}


.application {
    padding-left: 80px;
}


#contact {
    height: 600px;

    h1 {
        text-transform: uppercase;
        width: 320px;
        color: #575757;
        border-bottom: 7px solid $main_color;
        font-weight: 400;
        font-size: 18px;
        font-weight: 600;
        padding-top: 40px;
        padding-bottom: 3px;

    }
}



footer {
    height: 50px;
}
